<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<main layout:fragment="page">
    <div class="col-sm-9">
        <div class="post" id="post">
            <div class="post_media">
                <img th:src="@{/images/post.jpg}"/>
            </div>
            <div class="post_content">
                <div class="post_title">
                    <span class="post_title_link">{{ post.title }}</span>
                    <button sec:authorize="hasAuthority('Administrateur')" v-on:click="deletePost(post.id)"
                            type="submit" class="btn btn-danger"><i
                            class="fa fa-trash"></i></button>
                    <a sec:authorize="hasAuthority('Administrateur')" class="btn btn-success"
                       :href="'/posts/'+post.id+'/edit'"><i class="fa fa-edit"></i> </a>
                </div>
                <ul class="post_information">
                    <li class="post_information_user"> {{ post.user.name }} |</li>
                    <li class="post_information_date">{{ post.updated_at }}</li>
                </ul>
                <div class="post_description">
                    {{ post.description }}
                </div>
                <ul class="post_files">
                    <li v-for="document in post.documents">
                        <a :href="document.link">
                            <i class="fa fa-file"></i>
                            {{ document.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="post_actions">
                <button v-on:click="fbShare" class="btn btn-fb"><i class="fa fa-facebook"></i>Publier sur facebook
                </button>
            </div>
        </div>
    </div>
    <aside class="col-md-3" th:replace="posts/fragments/sidebar :: sidebar">

    </aside>
</main>
<th:block layout:fragment="script">
    <script type='text/javascript' th:src="@{/js/showPost.js}"></script>
    <script type='text/javascript' th:src="@{/js/sidebar.js}"></script>
</th:block>
</html>